{% load static %}
<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Decode/Encode</title>
  <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">


      <link rel="stylesheet" href="{% static 'style.css' %}">


</head>

<body>
<!--Trying-->
  <h1 class="label_top">Decode/Encode App</h1>


<div class="label_message">
      <h2 align="center" class="label_message_what">What is it?</h2>

    <p>
    <h3 align="center" >It is web app that transform your text to a secret code.</h3>
    <h3 align="center">Specialty:
        It will create a unique code every time you reload page even if the text is same.</h3>

      <h2 align="center" class="label_message_what">Who made this?</h2>

    <p>
    <h3 align="center" >Riken Shah.</h3>
        <h3 align="center">Made this Using:
        Python 3(Django), HTML5, CSS3.</h3>
    <h3 align="center">For designing I remodel  <a href="https://codepen.io/ehermanson/pen/KwKWEv">this</a> template.
    </h3>

    <h3 align="center">Contact me:
        rikenshah2002@gmail.com</h3>

    </p>
</div>

<div class="label_message_footer">
    <h2 align="center">Want source code?</h2>
    <h2 align="center">Email me: rikenshah2002@gmail.com</h2>
</div>



</body>

</html>
